@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .get-started {
      @apply py-5 px-4 text-center border border-[#107BC0] bg-white rounded cursor-pointer hover:bg-[#107BC0] active:bg-[#107BC0] focus:outline-none focus:bg-[#107BC0]
      hover:text-white active:text-white focus:text-white      
    }

    .get-startedHeader {
        @apply mb-4 font-bold text-[28px] leading-[38.13px] text-[#107BC0]
    }
}

.box-shadow {
    box-shadow: 0px 4px 4px 0px #09406352;
}

.get-started:hover h4,
.get-started:active h4,
.get-started:focus h4 {
    color: white !important; 
}

.get-started:hover,
.get-started:active,
.get-started:focus {
    box-shadow: 0px 4px 4px 0px #09406352;       
}